%h3 Мои документы

= link_to 'Добавить документ', new_account_own_document_path, class: 'btn btn-primary'

%br

%table.table.table-hover
  %thead
    %tr
      %th ID
      %th Название
      %th Дата создания
      %th Дата обновления
      %th{ style: 'width: 120px'}
  %tbody
    - @documents.each do |d|
      %tr
        %td= d.id
        %td= d.title
        %td= l d.created_at
        %td= l d.updated_at
        %td{ style: 'width: 120px'}
          .btn-group.btn-group-sm
            = link_to edit_document_path(d), class: 'btn btn-primary' do
              %span.glyphicon.glyphicon-edit
            = link_to edit_account_own_document_path(d), class: 'btn btn-success' do
              %span.glyphicon.glyphicon-pencil
            = link_to account_own_document_path(d), method: :delete, class: 'btn btn-danger' do
              %span.glyphicon.glyphicon-remove


%br
%br
